logs_enabled: true
apm_config:
  enabled: true
logs_config:
  container_collect_all: true
use_dogstatsd: true
dogstatsd_port: 8125

instances:
  - api_key: {{ datadog_api_key }}
    site: datadoghq.com
    logs:
      - type: file
        path: /var/log/syslog
        service: system
        source: system
